@font-face {
    font-family: "Raleway";
    src: url("font/Raleway-Regular.ttf") format("truetype");
}

body {
    font-family: "Raleway", "Sans serif";
    margin: 0px 0px 0px 0px;
}

#PageHeader {
    margin: 15px 3% 0% 3%;
}

nav {
    list-style-type: none;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 80px;
}

.GoToHome:first-child {
    flex: 1;
}

.AnchorAccommodationsBtn {
    color: #0065FC;
    text-decoration: none;
    height: 80px;
    border-top: 3px solid #0065FC;
    padding: 30px 3% 0px 3%;
}
.AnchorActivitiesBtn {
    color: grey;
    height: 80px;
    text-decoration: none;
    padding: 32px 3% 0px 3%;
}

.SignUpBtn {
    font-weight: bold;
    color: #0065FC;
    text-decoration: none;
    height: 80px;
    padding: 32px 0px 0px 3%;
}

main {
    padding: 0px 3% 0px 3%;
}


h1 {
    font-size: large;
    font-weight: bold;
}

#research {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    
}

#map-marker {
    background-color: #F2F2F2;
    width: 35px;
    height: 18px;
    padding: 16px 3px 16px 3px;
    border-radius: 15px 0px 0px 15px;
    
}

#Marseille {
    color: black;
    font-weight: bold;
    font-size: medium;
    height: 50px;
    border-top: 2px solid #F2F2F2;
    border-right: none;
    border-bottom: 2px solid #F2F2F2;
    border-left: none;
    padding-left: 1%;
}

#ResearchBtn {
    color: white;
    font-weight: bold;
    font-size: medium;
    text-decoration: none;
    border-color: #0065FC;
    height: 50px;
    width: 125px;
    background-color: #0065FC;
    border-radius: 0px 15px 15px 0px;
}

#ResearchIcon {
    display: none;
    width: 23px;
}

#TxtRechercher {
    margin-left: 20px;
}

#Filters {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

#TitleFiltersSubModule {
    font-weight: bold;
    margin-right: 2%;
}

.FilterGlobalBtn {
    display: flex;
    align-items: center;
    color: black;
    font-weight: bold; 
    text-decoration: none;
    background-color: white;
    height: 50px;
    padding-right: 3%;
    margin-right: 3%;
    border: 3px solid #F2F2F2;
    border-left: none;
    border-radius: 25px 25px 25px 25px;
}

.FilterGlobalBtn:hover {
    text-decoration: none;
    color: black;
    background-color: #DEEBFF;
}

#DogFilterBtn {
    width: 16%;
    padding-right: 2%;
}
.IconFilter {
    margin-right: 12%;
    background-color: #DEEBFF;
    border: 6px solid #DEEBFF;
    border-radius: 25px 25px 25px 25px;
}

#EconomicIcon {
    width: 25px;
    padding: 10px 7px 10px 9px;
}

#ChildIcon {
    width: 18px;
    padding: 8px 10px 8px 10px;
}

#RomanticIcon {
    width: 20px;
    padding: 10px 9px 10px 9px;
}

#DogIcon {
    width: 20px;
    padding: 11px 9px 11px 9px;
}

#ResultsIndication {
    display: flex;
    align-items: center;
    padding-bottom: 20px;
}

#InfoResults {
    width: 8px;
    padding: 6px 10px 6px 12px;
    margin-right: 5px;
    border: 3px solid #F2F2F2;
    border-radius: 20px 20px 20px 20px;
}

/*--- Research Results Module ---*/

#Accommodations {
    display: flex;
    justify-content: space-between;
    
}

#ResultsAccommodations {
    background-color: #F2F2F2;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 68%;
    padding-top: 2%;
    padding-bottom: 2%;
    border-radius: 15px 15px 15px 15px;
}                 
            
.TitleAccommodations {
    font-size: large;
    font-weight: bold;
    margin-left: 4%;
}

#PanoramaResults {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.CardResultsAccommodations {
    width: 28%;
    height: 42%;
    text-decoration: none;
    color: black;
    background-color: white;
    margin-bottom: 3%;   
    border: 5px solid white;
    border-radius: 20px 20px 20px 20px;
}

.PhotoResultsAccommodations {
    width: 100%;
    height: 65%;
    border-radius: 15px 15px 0px 0px;
}

.PresentationCardResultsAccommodations {
    margin-left: 5%;
}

.TitleCard {
    font-weight: bold;
    font-size: 16px;
    margin-top: 10px;
    margin-bottom: 5px;
}

.SubtitleCard1 {
    margin-top: 0px;
    margin-bottom: 0px;
}

.price {
    font-weight: bold;
}

.StarLine {
    margin-top: 5px;
    margin-bottom: 6px;
}

.Star {
    height: 12px;
}

#ShowMore {
    color: black;
    font-weight: bold;
    text-decoration: none;
    margin-left: 4%;
}

/*--- SuggestionsTop3Accommodations ---*/

#SuggestionsAccommodations {
    background-color: #F2F2F2;
    padding-top: 2%;
    padding-bottom: 2%;
    border-radius: 15px 15px 15px 15px;
    width: 30%;
    display: flex;
    flex-direction: column;
}

#TitleSuggestions {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 4%;
    margin-right: 9%
}

#IconChartLine {
    height: 20px;
}

#PanoramaSuggestionsAccommodations {
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   align-items: center;
   height: 100%;
}

.LinkCardSuggestion {
    background-color: white;
    color: black;
    text-decoration: none;
    display: flex;
    width: 82%;
    border: 5px solid white;
    border-radius: 20px 20px 20px 20px;
}

.PhotoCardSuggestionsAccommodations  {
    width: 45%;
    border-radius: 20px 0px 0px 20px;
}

.TextCardSuggestionAccommodations {
    width: 45%;
    padding-left: 3%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.TitleCard1 {
    font-weight: bold;
    font-size: 16px;
}

.SubtitlePrice:nth-child(2) {
    flex-grow: 1;
}

.StarLine1 {
    padding-bottom: 3%;
}



        /*--- Activities ---*/

#Activities {
    padding-top: 2%;
}

.TitleActivities {
    font-size: large;
    font-weight: bold;
}

#PanoramaActivities {
    display: flex;
    justify-content: space-between;
    height: 500px;
    margin-top: 2%;
}

.Block1Activity {
    width:23%;
    height: 480px;
    box-shadow: 3px 3px 5px 3px #F2F2F2;
    border-radius: 30px 30px 30px 30px;
}

.LinkActivity { 
    text-decoration: none;
    color: black;
    font-weight: bold;
}

.PhotoActivity {
    height: 88%;
    width: 100%;
    border-radius: 20px 20px 0px 0px;
}

.TitleActivity {
    font-weight: bold;
    font-size: 16px;
    padding-left: 30px;
}
.Block2Activities {
    width: 23%;
    height: 480px;
    display: flex;
    flex-direction: column;
    justify-content: space-between; 
}

.LinkActivity1 { 
    text-decoration: none;
    color: black;
    font-weight: bold;
    box-shadow: 3px 3px 5px 5px #F2F2F2;
    border-radius: 30px 30px 30px 30px;
}

.PhotoActivity1 {
    height: 72%;
    width: 100%;
    border-radius: 20px 20px 0px 0px;
}

#PhotoAct2 {
    height: 77%;
    width: 100%;
}

#PhotoAct3 {
    height: 66%;
    width: 100%;
}

#PhotoAct5 {
    height: 73%;
    width: 100%;
}

#PhotoAct6 {
    height: 73%;
    width: 100%;
}
        /*--- Footer ---*/   

footer {
    background-color: #F2F2F2;
    margin: 40px 0px 0px 0px;
    padding: 15px 4% 40px 4%;
    display: flex;
}

.FooterModule {
    display: flex;
    flex-direction: column;
    padding-right: 280px; 
}

.FooterLink {
    color: black;
    text-decoration: none;
    padding-top: 5px;
    padding-bottom: 5px;
}


@media (max-width: 480px) {


}