@font-face {
    font-family: "Raleway";
    src: url("font/Raleway-Regular.ttf") format("truetype");
}

body {
    font-family: "Raleway", "Sans serif";
}

nav {
    list-style-type: none;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 50px;
}

.GoToHome:first-child {
    flex: 1;
}

.GoToHome {
    padding-left: 30px;
}
.AnchorAccommodationsBtn {
    color: #0065FC;
    
    text-decoration: none;
    height: 50px;
    border-top: 2px solid #0065FC;
    padding: 0px 25px 0px 30px;
    line-height: 50px;
}
.AnchorActivitiesBtn {
    color: grey;
    height: 50px;
    line-height: 50px;
    text-decoration: none;
    padding: 0px 25px 0px 30px
}

.SignUpBtn {
    font-weight: bold;
    color: #0065FC;
    text-decoration: none;
    height: 50px;
    line-height: 50px;
    padding: 0px 30px 0px 30px;
}

.Module {
    padding: 0px 30px 0px 30px;
}

h1 {
    font-size: 17px;
    font-weight: bold;
}

.SubtitleSearch {
    font-size: 13px;
}

#research {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    
}

#map-marker {
    background-color: #F2F2F2;
    width: 35px;
    height: 14px;
    padding: 8px 0px 8px 0px;
    border-radius: 10px 0px 0px 10px;
    
}

#Marseille {
    color: black;
    font-weight: bold;
    height: 30px;
    border-top: 2px solid #F2F2F2;
    border-right: none;
    border-bottom: 2px solid #F2F2F2;
    border-left: none;
}

#ResearchBtn {
    color: white;
    font-weight: bold;
    border-color: #0065FC;
    height: 30px;
    width: 100px;
    background-color: #0065FC;
    border-radius: 0px 10px 10px 0px;
}

#Filters {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

#TitleFiltersSubModule {
    font-weight: bold;
    margin-right: 15px;
}

.FilterGlobalBtn {
    display: flex;
    align-items: center;
    color: black;
    font-weight: bold; 
    text-decoration: none;
    background-color: white;
    padding-right: 15px;
    margin-right: 15px;
    border: 2px solid #F2F2F2;
    border-left: none;
    border-radius: 25px 25px 25px 25px;
}

.FilterGlobalBtn:hover {
    text-decoration: none;
    color: black;
    background-color: #DEEBFF;
}
.IconFilter {
    height: 12px;
    width: 30px;
    margin-right: 15px;
    background-color: #DEEBFF;
    border: 3px solid #DEEBFF;
    padding: 11px 1px 11px 1px;
    border-radius: 25px 25px 25px 25px;
}

#ResultsIndication {
    display: flex;
    align-items: center;
}

#InfoResults {
    height: 12px;
    padding: 7px 7px 7px 7px;
    margin-right: 5px;
    border: 3px solid #F2F2F2;
    border-radius: 25px 25px 25px 25px;
}